body {
    font-family: Arial, sans-serif;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
  }

  #joinEndBtn{
    display: block;
  }
  #joinEndBtn button{
    padding: 10px;
    width: 100%;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: rgb(187, 51, 23);
    color: #ffffff;
  }

  h1 {
    text-align: center;
  }
  
  #options {
    list-style: none;
    padding: 0;
  }
  
  #options li {
    margin: 10px 0;
  }
  
  #options input {
    margin-right: 10px;
  }
  
  #timer {
    margin-top: 10px;
    font-weight: bold;
    color: #e91e63;
  }
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .buttons *{
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    color: #000000;
  }
  
  #result-box {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }